@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
 
  :root {

    --background: 263 100% 99%; 
    --foreground: 261 100% 3%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 275 90% 71%;
    --primary-foreground: var(--background);
 
    --secondary: 260 62% 11%;
    --secondary-foreground: var(--background);
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 265 91% 41%;
    --accent-foreground: var(--background);
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: var(--accent);
    --input: var(--primary);
    --ring: var(--accent);
    --radius: 0.5rem;
  }

  .dark {
    
    --background: 261 100% 3%; 
    --foreground: 263 100% 97%;

    --card: var(--secondary);
    --card-foreground: var(--foreground);
 
    --popover: var(--secondary);
    --popover-foreground: var(--foreground);
 
    --primary: 269 91% 40%;
    --primary-foreground: var(--foreground);
 
    --secondary: 259 61% 11%;
    --secondary-foreground: var(--foreground);
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 265 91% 59%;
    --accent-foreground: var(--foreground);
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: var(--accent);
    --input: var(--primary);
    --ring: var(--accent);
    --radius: 0.5rem;
  }
   
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}