@tailwind base;

html {
  scroll-behavior: smooth;
  word-break: break-word;
}

::selection {
  color: hsl(var(--foreground));
  background: hsl(var(--primary) / 0.3);
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--primary)) hsl(var(--background));
}


*::-webkit-scrollbar {
  width: 10px;
  border-radius: var(--radius);
}

*::-webkit-scrollbar-track {
  background: hsl(var(--background));
  border-radius: var(--radius);
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 10px;
  border: 3px solid hsl(var(--background));
}

@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 260 86% 46%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 261 84% 55%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: var(--primary);
    --input: var(--primary);
    --ring: var(--primary);

    --radius: 0.75rem;
  }
  
  
  .dark {
    --background: 264 20% 5%;
    --foreground: 240 60% 99%;

    --card: 0 0% 100%;
    --card-foreground: 240 7% 3%;

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --primary: 256 69% 50%;
    --primary-foreground: 356 100% 97%;

    --secondary: 240 100% 97%;
    --secondary-foreground: 262 35% 6%;

    --muted: 240 4% 6%;
    --muted-foreground: 262 7% 55%;

    --accent: 261 84% 55%;
    --accent-foreground: 0 0% 85%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: var(--primary);
    --input: var(--primary);
    --ring: var(--primary);

    --radius: 0.75rem;
  }
  
}
 
@layer base {
  /* * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  } */
  /* h2 {
    @apply py-4 text-4xl font-black text-gray-800;
  }

  .button {
    @apply custom-focus rounded-full border-2 border-green-400 bg-white px-8 py-2 font-bold text-green-400 hover:bg-green-400 hover:text-white focus:bg-green-400 focus:text-white;
  }

  .button-inverse {
    @apply custom-focus rounded-full border-2 border-white bg-green-400 px-8 py-2 font-bold text-white hover:border-green-400 hover:bg-white hover:text-green-400 focus:border-green-400 focus:bg-white focus:text-green-400;
  }

  .card {
    @apply column min-w-[20rem] items-center gap-8 rounded-2xl bg-white py-8 px-4 shadow-md sm:min-w-[24rem] sm:px-10;
  }

  .column {
    @apply flex flex-col items-start justify-center gap-4;
  }

  .custom-focus {
    @apply focus:border-green-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-2;
  }

  .heading {
    @apply text-lg font-semibold text-gray-700;
  }

  .highlight {
    @apply ml-1 rounded-lg bg-gray-100 p-2 font-mono;
  }

  .error {
    @apply w-full text-center text-red-600;
  }

  .input {
    @apply custom-focus w-full rounded-xl border border-slate-300 focus:shadow-none;
  }

  .link {
    @apply custom-focus rounded-md font-semibold text-green-400;
  }

  .row {
    @apply flex flex-row items-center justify-start gap-1;
  } */
}
